body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}
.site-header,
.site-main,
.site-footer {
	max-width: $size__site-main;
	width: 100%;
	margin: 0 auto;
	padding: 1em 3em;
	background: white;

	@include breakpoint(medium) {
		padding: 1em;
	}
}

.site-header {
	padding: 1em;
	@include breakpoint(medium) {
		padding-bottom: 0;
	}
}

.site-branding,
.site-description {
	margin: 0 0 1.5em;
}

// .site-title {
// 	@include font-size(3.8);
// 	color: $color__text-main;
// 	margin: 0 0 0 -1em;

// 	a {
// 		color: inherit;
// 		font-weight: normal;
// 		// background: $color__accent;
// 		margin: 0;
// 		padding: .1em .3em .15em 1em;
// 		position: relative;
// 	}

	// @include breakpoint(min-large) {

	// 	a {
	// 		padding-left: 1em;
	// 		padding-right: 1em;

	// 		// This will carve a triangular chunk out of the left of the .site-title
	// 		&:before {
	// 			content: "";
	// 			width: 0;
	// 			height: 0;
	// 			position: absolute;
	// 			top: 0;
	// 			left: 0;
	// 			border-top: 80px solid $color__background-body;
	// 			border-right: 15px solid transparent;
	// 		}
	// 		// This will carve a triangular chunk out of the right of the .site-title
	// 		&:after {
	// 			content: "";
	// 			width: 0;
	// 			height: 0;
	// 			position: absolute;
	// 			bottom: 0;
	// 			right: 0;
	// 			border-bottom: 80px solid $color__background-body;
	// 			border-left: 15px solid transparent;
	// 		}
	// 	}
	// }
// }

.site-title {
	color: $color__text-main;
	text-align: center;

	@include breakpoint(medium) {
		@include font-size(2.8);
	}

	a {
		color: inherit;
		font-weight: normal;
		margin: 0;
		padding: .1em .3em .15em 1em;
		padding: .1em 1em .15em 1em;
		display: inline-block;
		position: relative;
		z-index: 1;

		&:hover,
		&:focus,
		&:active {
			background: none;
			color: $color__text-main;

			.background-path {
				fill: $color__link-background;
			}
		}
	}

	.header-background {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	.background-path {
		fill: $color__accent;
	}


	@include breakpoint(min-large) {
		margin-top: -.9em;

		a {
			// padding-left: 1em;
			// padding-right: 1em;
		}
	}
}

.site-description {
	text-align: center;
	font-weight: normal;
	font-style: italic;
	@include font-size(1.9);
}

@include breakpoint(min-large) {
	.site-header {
		margin-top: 1.9em;
	}
	.site-footer {
		margin-top: 2em;
	}
}

.site-info {
	@include font-size(1.7);
	font-weight: 100;

	a, strong {
		font-weight: normal;
	}	
}

