/*
Manuscript Editor Styles
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Reset
2.0 - Typography
3.0 - Elements
4.0 - Alignments
5.0 - Media
	5.1 - Captions
	5.2 - Galleries
6.0 Editor Styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */ }

*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "LatinModernMono", "Courier New", courier, monospace;
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 1.5; }
  @media (max-width: 600px) {
    body,
    button,
    input,
    select,
    textarea {
      font-size: 17px;
      font-size: 1.7rem; } }

@font-face {
  font-family: 'LatinModernMono';
  src: url("fonts/latin-modern-mono/lmmono10-regular-webfont.eot");
  src: url("fonts/latin-modern-mono/lmmono10-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/latin-modern-mono/lmmono10-regular-webfont.woff") format("woff"), url("fonts/latin-modern-mono/lmmono10-regular-webfont.ttf") format("truetype"), url("fonts/latin-modern-mono/lmmono10-regular-webfont.svg#LatinModernMono10Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'LatinModernMono';
  src: url("fonts/latin-modern-mono/lmmono10-italic-webfont.eot");
  src: url("fonts/latin-modern-mono/lmmono10-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/latin-modern-mono/lmmono10-italic-webfont.woff") format("woff"), url("fonts/latin-modern-mono/lmmono10-italic-webfont.ttf") format("truetype"), url("fonts/latin-modern-mono/lmmono10-italic-webfont.svg#LatinModernMono10Italic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'LatinModernMono';
  src: url("fonts/latin-modern-mono/lmmonolt10-regular-webfont.eot");
  src: url("fonts/latin-modern-mono/lmmonolt10-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/latin-modern-mono/lmmonolt10-regular-webfont.woff") format("woff"), url("fonts/latin-modern-mono/lmmonolt10-regular-webfont.ttf") format("truetype"), url("fonts/latin-modern-mono/lmmonolt10-regular-webfont.svg#LatinModernMonoLight10Regular") format("svg");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'LatinModernMono';
  src: url("fonts/latin-modern-mono/lmmonolt10-oblique-webfont.eot");
  src: url("fonts/latin-modern-mono/lmmonolt10-oblique-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/latin-modern-mono/lmmonolt10-oblique-webfont.woff") format("woff"), url("fonts/latin-modern-mono/lmmonolt10-oblique-webfont.ttf") format("truetype"), url("fonts/latin-modern-mono/lmmonolt10-oblique-webfont.svg#LatinModernMonoLight10Oblique") format("svg");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'LatinModernMono';
  src: url("fonts/latin-modern-mono/lmmonolt10-bold-webfont.eot");
  src: url("fonts/latin-modern-mono/lmmonolt10-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/latin-modern-mono/lmmonolt10-bold-webfont.woff") format("woff"), url("fonts/latin-modern-mono/lmmonolt10-bold-webfont.ttf") format("truetype"), url("fonts/latin-modern-mono/lmmonolt10-bold-webfont.svg#LatinModernMonoLight10Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'LatinModernMono';
  src: url("fonts/latin-modern-mono/lmmonolt10-boldoblique-webfont.eot");
  src: url("fonts/latin-modern-mono/lmmonolt10-boldoblique-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/latin-modern-mono/lmmonolt10-boldoblique-webfont.woff") format("woff"), url("fonts/latin-modern-mono/lmmonolt10-boldoblique-webfont.ttf") format("truetype"), url("fonts/latin-modern-mono/lmmonolt10-boldoblique-webfont.svg#LatinModernMonoLight10BdOb") format("svg");
  font-weight: bold;
  font-style: italic; }
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
  color: #222222; }

h1 {
  font-size: 26px;
  font-size: 2.6rem; }

h2 {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: bold; }

h3 {
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold; }

h4 {
  font-size: 22px;
  font-size: 2.2rem; }

h5 {
  font-size: 19px;
  font-size: 1.9rem;
  font-weight: bold;
  letter-spacing: .1rem;
  text-transform: uppercase; }

h6 {
  font-size: 19px;
  font-size: 1.9rem;
  letter-spacing: .2rem;
  text-transform: uppercase; }

.site-title {
  font-size: 40px;
  font-size: 4rem; }

.page-header {
  margin: 0 0 22px;
  margin: 0 0 2.2rem; }

.page-title {
  font-size: 30px;
  font-size: 3rem;
  font-weight: bold; }

.archive .page-title {
  font-weight: normal; }
  .archive .page-title span {
    font-weight: bold; }

.entry-title {
  line-height: 1.3; }

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6 {
  margin: 11px 0;
  margin: 1.1rem 0; }

.home .page .entry-title {
  display: none; }

.widget-title,
.widgettitle {
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold; }

p {
  margin-bottom: 22px;
  margin-bottom: 2.2rem; }

b, strong {
  font-weight: bold; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eeeeee;
  font-family: "LatinModernMono", "Courier New", courier, monospace;
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: "LatinModernMono", "Courier New", courier, monospace;
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: 100;
  background: #F2F2F2;
  padding: 0 5px 0 3px;
  margin: 0 -5px 0 -3px; }

abbr, acronym {
  border-bottom: 1px dashed #666666;
  cursor: help;
  letter-spacing: .1rem;
  text-transform: uppercase; }

a abbr,
a acronym {
  border-bottom-color: #b3b3b3; }

mark, ins {
  background: #d4ff8a;
  text-decoration: none;
  padding: 0 5px 0 3px;
  margin: 0 -5px 0 -3px; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
  background-color: #cccccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 2em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
  vertical-align: text-bottom;
  /* prevent background color from showing on linked images */ }

figure {
  margin: 0; }

table {
  width: 100%;
  margin: 22px 0;
  margin: 2.2rem 0;
  text-align: left;
  border: 1px solid #eaecee;
  border-left: 0; }

table caption {
  font-weight: bold;
  margin-bottom: 22px;
  margin-bottom: 2.2rem; }

table th, table td {
  padding: 11px 8px;
  padding: 1.1rem .8rem; }

table th {
  border-left: 1px solid #eaecee;
  font-weight: bold; }

table td {
  border-top: 1px solid #eaecee;
  border-left: 1px solid #eaecee; }

table td[valign="top"] {
  vertical-align: top; }

table td[valign="bottom"] {
  vertical-align: bottom; }

/*--------------------------------------------------------------
4.0 Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  margin: 0 auto; }

/*--------------------------------------------------------------
5.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

.entry-content .wp-audio-shortcode,
.entry-content div.video-player {
  margin-bottom: 22px;
  margin-bottom: 2.2rem; }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

img.full-size-post-thumbnail {
  position: relative;
  left: -1em;
  right: -1em;
  max-width: calc(100% + 2em ); }
  @media (min-width: 600px) {
    img.full-size-post-thumbnail {
      left: -2em;
      right: -2em;
      max-width: calc(100% + 4em ); } }

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0 auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0 0; }

.wp-caption-text {
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: 100; }

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin-bottom: 1em; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  text-align: center;
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: 100; }

/*--------------------------------------------------------------
6.0 Editor Styles
--------------------------------------------------------------*/
body#tinymce {
  margin: 9px 10px;
  /* set tinymce editor margin back to default */ }

/*# sourceMappingURL=editor-style.css.map */
