@font-face {
    font-family: 'LatinModernMono';
    src: url('fonts/latin-modern-mono/lmmono10-regular-webfont.eot');
    src: url('fonts/latin-modern-mono/lmmono10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/latin-modern-mono/lmmono10-regular-webfont.woff') format('woff'),
         url('fonts/latin-modern-mono/lmmono10-regular-webfont.ttf') format('truetype'),
         url('fonts/latin-modern-mono/lmmono10-regular-webfont.svg#LatinModernMono10Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMono';
    src: url('fonts/latin-modern-mono/lmmono10-italic-webfont.eot');
    src: url('fonts/latin-modern-mono/lmmono10-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/latin-modern-mono/lmmono10-italic-webfont.woff') format('woff'),
         url('fonts/latin-modern-mono/lmmono10-italic-webfont.ttf') format('truetype'),
         url('fonts/latin-modern-mono/lmmono10-italic-webfont.svg#LatinModernMono10Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'LatinModernMono';
    src: url('fonts/latin-modern-mono/lmmonolt10-regular-webfont.eot');
    src: url('fonts/latin-modern-mono/lmmonolt10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/latin-modern-mono/lmmonolt10-regular-webfont.woff') format('woff'),
         url('fonts/latin-modern-mono/lmmonolt10-regular-webfont.ttf') format('truetype'),
         url('fonts/latin-modern-mono/lmmonolt10-regular-webfont.svg#LatinModernMonoLight10Regular') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMono';
    src: url('fonts/latin-modern-mono/lmmonolt10-oblique-webfont.eot');
    src: url('fonts/latin-modern-mono/lmmonolt10-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/latin-modern-mono/lmmonolt10-oblique-webfont.woff') format('woff'),
         url('fonts/latin-modern-mono/lmmonolt10-oblique-webfont.ttf') format('truetype'),
         url('fonts/latin-modern-mono/lmmonolt10-oblique-webfont.svg#LatinModernMonoLight10Oblique') format('svg');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'LatinModernMono';
    src: url('fonts/latin-modern-mono/lmmonolt10-bold-webfont.eot');
    src: url('fonts/latin-modern-mono/lmmonolt10-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/latin-modern-mono/lmmonolt10-bold-webfont.woff') format('woff'),
         url('fonts/latin-modern-mono/lmmonolt10-bold-webfont.ttf') format('truetype'),
         url('fonts/latin-modern-mono/lmmonolt10-bold-webfont.svg#LatinModernMonoLight10Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMono';
    src: url('fonts/latin-modern-mono/lmmonolt10-boldoblique-webfont.eot');
    src: url('fonts/latin-modern-mono/lmmonolt10-boldoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/latin-modern-mono/lmmonolt10-boldoblique-webfont.woff') format('woff'),
         url('fonts/latin-modern-mono/lmmonolt10-boldoblique-webfont.ttf') format('truetype'),
         url('fonts/latin-modern-mono/lmmonolt10-boldoblique-webfont.svg#LatinModernMonoLight10BdOb') format('svg');
    font-weight: bold;
    font-style: italic;
}