a {
	color: $color__link;
	text-decoration: none;
	padding: 0 5px 0 3px;
	margin: 0 -5px 0 -3px;

	&:visited {
	}
	&:hover,
	&:focus,
	&:active {
		// color: $color__link-hover;
		background: $color__link-background;
	}
}

.entry-content a,
.comment-content a,
.comment-reply-link,
.comments-link a {
	background: $color__link-background;

	&:hover,
	&:focus,
	&:active {
		background: none;
	}
}

.entry-content a,
.comment-content a {
	padding: 0;
	margin: 0;
}

.edit-link a {
	background: #FFE0EB;

	&:hover,
	&:focus,
	&:active {
		background: none;
	}
}
