a {
	color: $color__link;
	border-bottom: 2px solid $color__link-background;
	text-decoration: none;

	&:visited {
	}
	&:hover,
	&:focus,
	&:active {
		background: $color__link-background;
	}
}

.site-header a,
.navigation a {
	border-bottom-width: 0;
}

.entry-footer a {
	border-bottom-width: 1px;
}

.entry-content a,
.comment-content a {
	background: $color__link-background;

	&:hover,
	&:focus,
	&:active {
		background: none;
	}
}

.edit-link a {
	border-bottom-color: #FFA28F;

	&:hover,
	&:focus,
	&:active {
		background: #FFA28F;
	}
}