.main-navigation {
	clear: both;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;	
		text-align: center;

		ul {
			padding: .25em 0;
			@include font-size(1.7);
			max-width: 300px;
			min-width: 150px;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;
			text-align: left;

			ul {
				left: -999em;
				top: -.25em;
			}

			li {
				width: 100%;
				padding: 0 .75em;
				&:hover > ul {
					left: 100%;
				}				
				&:hover > a {
					background: $color__link-background;
				}
			}
			
			a {
				margin: 0;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		a {
			margin: 0 .75em;
			line-height: 1;
		}

		li:hover > ul {
			left: auto;
		}
	}

	li {
		// float: left;
		display: inline-block;
		position: relative;
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}
	}

				
	.menu-item-has-children:hover {
		background: $color__background-menu-hover;

		ul {
			background: $color__background-menu-hover;
		}
	}

	.current_page_item > a,
	.current-menu-item > a {
		font-weight: bold;
	}
}

/* Small menu */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
		margin: 0 auto 1em;
		text-align: center;
	}

	.main-navigation ul {
		display: none;
		
		li {
			display: block;
		}
		a {
			margin-right: 0;
		}
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.page-links a {
	padding: 0 5px;
}