.main-navigation {
	clear: both;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;	
		text-align: center;

		ul {
			padding: .25em 0;
			@include font-size(1.7);
			max-width: 300px;
			min-width: 150px;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;
			text-align: left;

			ul {
				left: -999em;
				top: -.25em;
			}

			li {
				width: 100%;
				padding: 0 .75em;
				&:hover > ul {
					left: 100%;
				}				
				&:hover > a {
					background: $color__link-background;
				}
			}
			
			a {
				margin: 0;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		a {
			margin: 0 .75em;
			line-height: 1;
		}

		li:hover > ul {
			left: auto;
		}
	}

	li {
		// float: left;
		display: inline-block;
		position: relative;
		margin-bottom: 5px;

		.menu-item-has-children:after {
			content: ">";
			display: block;
			position: absolute;
			right: .75em;
			color: hsl(0, 0%, 67%);
			bottom: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

				
	.menu-item-has-children:hover {
		background: $color__background-menu-hover;
		//box-shadow: -3px 3px #E8E8E8;


		ul {
			background: $color__background-menu-hover;
			//box-shadow: -3px 3px #E8E8E8;
		}
	}

	.current_page_item > a,
	.current-menu-item > a {
		font-weight: bold;
	}
}

/* Small menu */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
		margin: 0 auto 1em;
		text-align: center;
	}

	.main-navigation ul {
		display: none;
		
		li {
			display: block;
		}
		a {
			margin-right: 0;
		}
		.menu-item-has-children:hover {
			background: transparent;
		}
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation,
.site-main .attachment-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}

}

.site-main .attachment-navigation {
	margin: 3em 0 0;

	.nav-previous,
	.nav-next {
		a {
			position: relative;
			display: inline-block;

			&:after {
				content: "<";
				position: absolute;
				display: block;
				background: hsla(0, 0%, 93%, 0.5);
				z-index: 2;
				top: 0;
				width: 100%;
				text-align: center;
				line-height: 150px;
				font-size: 100px;
				color: hsl(328, 100%, 77%);
			}
			&:hover {
				background: none;
			}
		}
		&:hover a:after {
			opacity: .4;
			background: none;
		}
	}
	.nav-next a:after {
		content: ">";
	}
}

.page-links a {
	padding: 0 5px;
	background: $color__link-background;

	&:hover,
	&:focus,
	&:active {
		background: none;
		box-shadow: none;
	}
}