.comment-list {
	margin-left: 0;
	list-style: none;
	border-bottom: 1px solid $color__border-comments;

	.children {
		list-style: none;
	}
}

.comment {
	border-top: 1px solid $color__border-comments;
	padding-top: 22px;

	&:first-child {
		border-top: none;
	}

	.avatar {
		float: left;
		margin-right: 5px;
	}
}

.comment-meta {
	@include font-size(1.7);
	font-weight: 100;
	margin-bottom: 11px;

	.fn {
		font-weight: normal;
	}
	.says {
		display: none;
	}
	
	a {
		font-weight: normal;
	}
}

.comment-reply-link {
	@include font-size(1.7);
	font-weight: normal;
	padding-bottom: 4px;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor .fn {
	background: $color__accent;

	a {
		color: inherit;
		border-bottom: none;

		&:hover,
		&:focus,
		&:active {
			color: $color__link;
		}
	}
}

.form-allowed-tags {
	font-weight: 100;
	@include font-size(1.7);
}

.comment-form .required {
	color: #E62600;
}