.blog ,
.archive {
	.format-aside,
	.format-status,
	.format-link,
	.format-quote {
		
		padding-left: 1em;
		border-left: 4px solid #ddd;

		@include breakpoint(medium) {
			margin-left: -.5em;
		}

		.wp-post-image,
		.entry-title,
		.cat-links,
		.tag-links {
			display: none;
		}
	}

	.format-link {
		border-left-color: #bfbfbf;
	}
	.format-quote { 
		border-left-color: #aaa;
	}

}

.post-format-link {
	.genericon {
		line-height: $font__line-height-body;
	}
	
	a {
		box-shadow: none;
	}

	a:hover,
	a:focus,
	a:active {
		background: none;
		color: $color__link-background;
	}
}

.format-aside .entry-content,
.format-status .entry-content,
.format-link .entry-content,
.format-quote .entry-content {
	font-size: 1.1em;
}