.hentry {
	margin: 0 0 3em;
}

.sticky {
	border: 3px dashed $color__accent;
	padding: 1em;
	overflow: hidden;
	margin-left: -1em;
	margin-right: -1em;
	@include breakpoint(min-large) {
		padding: 1em 3em;
		margin-left: -3em;
		margin-right: -3em;
	}
}

.byline,
.updated {
	display: none;
}

.published {
	display: inline;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.wp-post-image {
	display: block;
	margin: 0 auto 1em;
}

.entry-header,
.entry-footer {
	font-weight: 100;

	a {
		font-weight: normal;
	}
}

.entry-footer {
	@include font-size(1.7);
}
